h1{
    color: rgb(5, 223, 212);
}
body{
    background-color: rgb(5, 223, 212);
}
#encabezado {
    background-color: aliceblue;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
}
.logo {
    background-color: rgb(223, 5, 5);
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100%;
    height: auto;
}
.menu {
    background-color: blanchedalmond;
    width: 70%;
}
.menu ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    display: flex;
    background-color: rgb(238, 29, 29);
}
.menu ul li {
    margin: 0;
    padding: 15px 20px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
}
.menu ul li a:hover {
    background-color: rgb(168, 9, 9);
    padding: 15px 20px;
}
.redes {
    background-color: blue;
    width: 20%;
}