* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--negro);
}

/* HEADER */
#encabezado {
    display: flex;
    width: 90%;
    margin: 20px auto;
    background-color: var(--rojo);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.6);
    overflow: hidden;
}

.logo {
    width: 12%;
    background-color: var(--rojo-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 80%;
}

.menu {
    width: 68%;
}

.menu ul {
    display: flex;
    height: 100%;
    list-style: none;
    align-items: center;
}

.menu ul li a {
    color: var(--blanco);
    padding: 20px;
    text-decoration: none;
    display: block;
    transition: transform 0.25s ease, background-color 0.25s ease;
}

.menu ul li a:hover {
    background-color: var(--rojo-oscuro);
    transform: translateY(-5px);
}

/* REDES */
.redes {
    width: 20%;
    background-color: var(--azul-marino);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes img {
    width: 28px;
}
.redes a img {
    width: 28px;
    transition: transform 0.25s ease;
}

.redes a img:hover {
    transform: translateY(-6px) scale(1.15);
}

/* CARDS */
.cards {
    width: 90%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.card {
    background-color: var(--blanco);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: var(--negro);
    box-shadow: 0 8px 20px rgba(0,0,0,.3);
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0 5px;
    color: var(--rojo);
}

.card p {
    padding: 0 15px 20px;
    font-size: 14px;
    color: #333;
}

/* SECCIÓN FONDO */
.info {
    width: 100%;
    padding: 80px 60px;
    background: linear-gradient(
        rgba(72, 182, 255, 0.7),
        rgba(72, 182, 255, 0.7)
    ),
    url("../IMAGES/pexels-divinetechygirl-1181671.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--blanco);
}

.info h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

/* ENCABEZADO INFERIOR */
.footer-header {
    background-color: #333;
    height: 90px;              /* más delgado */
    margin-top: 60px;         /* lo empuja más abajo */
    padding: 0 40px 15px;      /* espacio solo abajo */
    display: flex;
    align-items: flex-end;     /* texto abajo */
    justify-content: center;   /* centrado horizontal */
    color: var(--blanco);
}

.footer-header h2 {
    font-size: 14px;           /* letras más pequeñas */
    font-weight: normal;
    letter-spacing: 1px;
    color: aliceblue;
}
