h1{
    color: rgb(5, 223, 212);
}
body{
    background-color: rgb(5, 223, 212);
}
#encabezado {
    background-color: aliceblue;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}